*{margin: 0px;
padding: 0px;
text-decoration: none;
list-style: none; background-image: url(/clark-tibbs-oqStl2L5oxI-unsplash.jpg);}
.header{display: flex;
justify-content: space-around;
align-items: center;}
.header ul{display: flex;
gap: 50px;}
.home{border: 6px solid red;}
.logo img{height: 55px;}
button{border-radius: 45px;
    padding: 7px; color: blue;}
  .section{display: flex; justify-content: space-around;
margin-top: 100px;}
  .section div img{height: 466px;}
  .section h1{color: aliceblue;}
  .home p{color: aliceblue;}
.parent{background-color: aqua;
height: 50vh;

display: flex;
align-items: center;
justify-content: center;
}
.h1{color: rgb(255, 72, 0);
background-color: rgb(230, 227, 233);
height: 50vh;
width: 50vh;
text-align: center;
justify-content: center;
transform: scale(1);
transition: 1s ease; margin-top: 100px;}
.h1:hover{transform: rotate(20deg);}

 
 